{% extends "./base.jinja"%} 
{% block title %} Login {% endblock %} 
{% block content%}
<style>
    .login {
        width: 100%;
    }
    
    @media only screen and (min-width: 900px) {
        .login {
            width: 50%;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .login {
            width: 75%;
        }
    }
</style>
<div class="card shadow  mx-auto login">
    <h2 class="text-center pt-3">
        Login
    </h2>
    <form class="container" method="post">
        {% include "./components/error.jinja"%}
        {% for form in forms if form.id != "csrf_token" %}
            <div class="mb-3">
                <label class="form-label">
                    {{form.label if form.id != "login" else ""}}
                </label> 
                {{form}}
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}